<button id="transfer-client">Отправить клиента другому менеджеру</button>

@section scripts{
    <script type="text/javascript">
        (function() {
            $('#transfer-client').on('click', function() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("TransferClient", "Transfer")',
                    data: {
                        TargetManagerId: 1,
                        ClientId: 2
                    },
                    success: function() {
                        alert('done');
                    }
                });
            });
        })(jQuery);
    </script>
}